.dm_multiLevel {
    font-size: 1.1rem;
    background: #5a5856;
    justify-content: center;
    display: flex;
}

.dm_multiLevel.fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.dm_multiLevel ul {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}

.dm_multiLevel ul li {
    position: relative;
    display: inline-block;
}

.dm_multiLevel>ul>li {
    float: left;
}

.dm_multiLevel a {
    display: inline-block;
    padding: 1rem 1.8rem;
    line-height: 1rem;
    color: #fff;
    transition: .2s ease-out;
    text-decoration: none;
    width: 317px;
}

.dm_multiLevel a:hover,
li.active {
    background: #2e2d2c;
}

.dm_multiLevel ul.subMenu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.dm_multiLevel ul.subMenu li {
    width: 100%;
    background: #5a5856;
}

.dm_multiLevel ul.subMenu li a {
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.774);
}

.dm_multiLevel ul.subMenu li a:hover,
.dm_multiLevel ul.subMenu li.active>a {
    background: #2e2d2c;
    padding-left: 1.1rem;
}

.dm_multiLevel ul.subMenu ul.subMenu {
    position: absolute;
    top: 2px;
    left: 100%;
    width: 70%;
}

.header-fixed {
    background-color: white;
    position: sticky;
    top: 0px;
    position: -webkit-sticky;
    z-index: 9999;
}